// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.underline {
  text-decoration: underline;
}

.game-taunt {
  background-color: lighten(gray, 15%);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  
}

#game-wrapper {
  height: 600px;
  width: 650px;
  text-align: center;
  font-family: Helvetica;
}

.reminder {
  font-size: 14px;
  font-weight: bold;
}

#prime-direction {
  color: $sky-blue;
}

.no-login {
  text-align: center;
}

#instructions{
  margin-top: 40px;
  text-align: left;
  width: 275px;
  margin: auto;
  
  h3#header {
    text-align: center;
    font-weight: bold;
  }
}

#strikes-wrapper {
  font-size: 30px;
  color: purple;
}

#active-game-wrapper {
  display: none;
}

.board-label {
  margin-top: 40px;
  font-size: 25px;
}

.hang-char {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  border-bottom: solid 2px black;
  font-size: 30px;
}

#hangman-board {
  margin-top: 65px;
  margin-bottom: 20px;
}

.login-status {
  position: absolute;
  top: 10px;
  left: 10px;
}

#win-loss, #message, #restart, #guessed-letters {
  min-height: 20px;
}

.win {
  color: green;
  font-weight: bold;
}

.lose {
  color: red;
  font-weight: bold;
}